pkgbase = kdeplasma-blurredwallpaper-git
	pkgdesc = KDE plasma wallpaper plugin that blur the wallpaper when a window is active
	pkgver = 3.1.1
	pkgrel = 2
	url = https://github.com/bouteillerAlan/blurredwallpaper
	arch = any
	license = GPL3
	makedepends = git
	source = git+https://github.com/bouteillerAlan/blurredwallpaper.git#tag=52624d01b34f19daaa19b62b0e88e95c67d764ee?signed
	validpgpkeys = 6A2ECC8A396F8A943A109A1E0F11C2A6BF79111E
	md5sums = SKIP

pkgname = kdeplasma-blurredwallpaper-git
